# Node.js
node_modules/
.env
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/

# Java
target/
*.class
*.jar

# OS/System
.DS_Store
Thumbs.db

# Build
build/
dist/
.idea/

# JetBrains
*.iml
